extends default

block stylesheets
    // Custom stylesheets
    link(href='stylesheets/sidebar_stylesheet.css', rel='stylesheet')
    link(href='stylesheets/habits_stylesheet.css', rel='stylesheet')
    
block javascripts
    // Load custom JavaScript
    script(type='text/javascript', src='javascripts/Habits/mainHabits.js')
    
block navigation-head
    a.navbar-brand(href='/')
        span.glyphicon.glyphicon-th-list
    a.navbar-brand(href='/text')
        span.glyphicon.glyphicon-file
    a.navbar-brand(href='/habits').active
        span.glyphicon.glyphicon-repeat
        
block navigation-drop
    li
        a(href='/')
            h5 Overzicht
    li
        a(href='/text')
            h5 Tekst
    li.active
        a(href='/habits')
            h5 Habits
    li
        a(href='/logs')
            h5 Logs                    

block navigation-sidebar
    ul.nav.nav-sidebar
        li
            a(href='/')
                h5 Overzicht
        li
            a(href='/text')
                h4 Tekst
        li.active
            a(href='/habits')
                h5 Habits
        li
            a(href='/logs')
                h5 Logs                  

block content
    .row#main
    .modal.fade#habit-details(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close.modal-closer(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4.modal-title Details
                .modal-body
                    .row   
                        .col-xs-12
                            .input-group
                                input.form-control(type='date')#add-date-form
                                span.input-group-btn
                                    #btn-add-date.btn.btn-primary(type='button') 
                                        span.glyphicon.glyphicon-plus
                            select#date-remove-choice.form-control(name='list-choice')            
                .modal-footer
                    .row
                        .col-xs-12
                            button.btn.btn-danger#btn-undo-today(data-dismiss='modal') Undo Today
                            button.btn.btn-default.modal-closer(type='button', data-dismiss='modal')
                                span.glyphicon.glyphicon-remove
