extends default

block stylesheets
    // Custom stylesheets
    link(href='stylesheets/sidebar_stylesheet.css', rel='stylesheet')
    link(href='stylesheets/tasks_stylesheet.css', rel='stylesheet')
    
block javascripts
    // Load custom JavaScript
    script(type='text/javascript', src='javascripts/Tasks/mainTasks.js')
    script(type='text/javascript', src='javascripts/Tasks/cache.js')
    script(type='text/javascript', src='javascripts/Tasks/taskDisplay.js')
    script(type='text/javascript', src='javascripts/Tasks/modTask.js')
    script(type='text/javascript', src='javascripts/Tasks/helperTasks.js')
    script(type='text/javascript', src='javascripts/Tasks/selectTasks.js')
    
block navigation-head
    a.navbar-brand(href='/').active
        span.glyphicon.glyphicon-th-list
    a.navbar-brand(href='/text')
        span.glyphicon.glyphicon-file
    a.navbar-brand(href='/habits')
        span.glyphicon.glyphicon-repeat
        
block navigation-drop
    li.active
        a(href='/')
            h5 Overzicht
    li
        a(href='/text')
            h5 Tekst
    li
        a(href='/habits')
            h5 Habits       

block navigation-sidebar
    ul.nav.nav-sidebar
        li.active
            a(href='/')
                h5 Overzicht
        li
            a(href='/text')
                h4 Tekst
        li
            a(href='/habits')
                h5 Habits 
block content
    .row#main
        .col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-3.col-lg-5.col-lg-offset-2
            .well
                form#newtask
                    .input-group
                        input#newtask-input.form-control(type='text', placeholder='Nieuwe Todo')
                        span.input-group-btn
                            #newtask-button.btn.btn-primary(type='button') 
                                span.glyphicon.glyphicon-plus
                .btn-group(role='group')
                    button#permainlist-button.btn.btn-primary(type='button') Per lijst
                    button#persubject-button.btn.btn-default(type='button') Per vak
    // todo's
    #tasks.row
    .modal.fade#task-details(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close.modal-closer(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4.modal-title Details
                .modal-body
                    p#task-id
                    .row
                        .col-xs-12
                            .form-group
                                input.form-control#task-title
                    .row
                        .col-xs-6        
                            select#list-choice.form-control(name='list-choice')
                        .col-xs-6
                            .btn-group(role='group')
                                button.btn.btn-default#task-check(type='button') 
                                    span.glyphicon.glyphicon-ok
                                button.btn.btn-default#task-today(type='button')
                                    span.glyphicon.glyphicon-arrow-down
                                    
                .modal-footer
                    .row
                        .col-xs-6
                            button.btn.btn-success(type='button')#done-button
                                span.glyphicon.glyphicon-check
                        .col-xs-6
                            button.btn.btn-default.modal-closer(type='button', data-dismiss='modal')
                                span.glyphicon.glyphicon-remove
                            button.btn.btn-primary(type='button')#send-button
                                span.glyphicon.glyphicon-send
