.streak {
    display: flex;
    background-color: #4A89DC;
    font-weight: bold;
    color: white;
    float: right;
    width: 35px;
    border-radius: 50%;
    height: 35px;
    font-size: 20px;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

.streak-not-today{
    background-color: grey;
}

.btn-done{
    padding-left: 25px;
    padding-right: 25px;
}

.btn-done-not-today{
    background-color: grey;
}
