.streak {
    display: flex;
    background-color: #4A89DC;
    font-weight: bold;
    color: white;
    float: right;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

.btn-done{
    padding-left: 25px;
    padding-right: 25px;
}
